extends ../layouts/layout 
include ../mixins/movieDetail

block route
  +movieDetail(movie)
  if loggedIn && String(movie.owner._id) === String(loggedInUser._id)
    div.movie__ownerControls
      p
        a(href=`/movies/${id}/edit`) &rarr; Edit Infos
      p 
        a(href=`/movies/${id}/delete`) &rarr; Delete Movie
  section.commentSection
    if loggedIn
      form.commentSection__commentForm#commentForm
        textarea#commentArea(name="commentArea", cols="60", rows="1")  
        input.commentSection__commentBtn(type="submit", value="Confirm")
    ul.commentSection__comments
      each comment in movie.comments.reverse()
        li.commentSection__commentContainer
          span
            i.fa-solid.fa-comment
            span #{comment.text}
          if loggedIn && String(loggedInUser._id) === String(comment.owner._id)
            div.commentSection__commentControls
              span.commentSection__toggle
                i.fa-solid.fa-ellipsis-vertical(data-id=comment._id)
              span.commentSection__deleteBtn(id=comment._id, data-id=comment._id) Delete
block scripts
  script(src="/static/js/moviePlayer.js") 
  script(src="/static/js/movieRating.js")
  if loggedIn
    script(src="/static/js/commentSection.js")