mixin movieDetail(movie)
  div 
    video(src=`/${movie.path}`)
    h2 #{movie.title} (#{movie.year})
    p rated by #{movie.owner.username}
    p=movie.note
    p=movie.rating
    ul
      each genre of movie.genres
        li=genre